@model IEnumerable<Category>

<a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Create Category</a>

<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var category in Model)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>
                            <a href="~/Categories/Edit/@category.Id" class="btn btn-warning">Edit</a>
                            <a href="~/Categories/Delete/@category.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>