
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <div>
        <h1>Page 1</h1>
        <ul class="cities">
            <li>Shamal Gaza</li>
            <li>Gaza</li>
            <li>Wosta
                <ul>
                    <li>Nosirat</li>
                    <li>Braij</li>
                    <li>Maghazi</li>
                    <li>Dair Al-Balah</li>
                </ul>
            </li>
            <li>Khan Younis</li>
            <li>Rafah</li>
        </ul>
    </div>
</body>
</html>
