@{
    string ActionURL = ViewBag.ActionURL;
    int PageId = ViewBag.PageId;
    int PagesCount = ViewBag.PagesCount;

    int PagesBeforeOrAfterTheCurrentPage = ViewBag.PagesBeforeOrAfterTheCurrentPage;
    int Start, End;

    if (PagesCount <= (PagesBeforeOrAfterTheCurrentPage * 2 + 1))   //Pages count less than default pagination elements
    {
        Start = 0;
        End = PagesCount - 1;
    }
    else if (PageId <= PagesBeforeOrAfterTheCurrentPage)    //We are at the first pages
    {
        Start = 0;
        End = PagesBeforeOrAfterTheCurrentPage * 2;
    }
    else if (PageId >= PagesCount - PagesBeforeOrAfterTheCurrentPage)   //We are at the last pages
    {
        Start = PagesCount - 1 - PagesBeforeOrAfterTheCurrentPage * 2;
        End = PagesCount - 1;
    }
    else    //We are at the middle of the pages
    {
        Start = PageId - PagesBeforeOrAfterTheCurrentPage;
        End = PageId + PagesBeforeOrAfterTheCurrentPage;
    }

    <ul class="pagination pagination-lg">
        @if (PageId == 0)   //for Previous buttons at the first page
        {
            <li class="disabled">
                <span>
                    <i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i>
                </span>
            </li>
            <li class="disabled"><span><i class="glyphicon glyphicon-chevron-left"></i></span></li>
        }
        else   //for Previous buttons after the first page
        {
            <li>
                <a href="@ActionURL/1">
                    <i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-left"></i>
                </a>
            </li>
            <li><a href="@ActionURL/@PageId"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        }

        @for (int i = Start; i <= End; i++)
        {
            if (i == PageId)
            {
                <li class="active"><span>@(i + 1)</span></li>
            }
            else
            {
                <li><a href="@ActionURL/@(i + 1)">@(i + 1)</a></li>
            }
        }

        @if (PageId == PagesCount - 1)  //For Next buttons at the last page
        {
            <li class="disabled"><span><i class="glyphicon glyphicon-chevron-right"></i></span></li>
            <li class="disabled">
                <span>
                    <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>
                </span>
            </li>
        }
        else   //For Next buttons before the last page
        {
            <li><a href="@ActionURL/@(PageId+2)"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            <li>
                <a href="@ActionURL/@(PagesCount)">
                    <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </li>
        }
    </ul>
}