@{
    ViewBag.Title = "Not Found";

}

<h1>@ViewBag.ErrorMessage</h1>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success" style="width: auto;">
    Click here to see the list of all employees
</a>